*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:#f8bbd0;
}

/* NAVBAR */
.navbar{
    background:#ec407a;
}
.navbar a{
    color:black !important;
    font-weight:bold;
}

/* CARD DESIGN */
.one{
    background:#ec407a;
    color:white;
}
.bord{
    border:2px solid #ec407a;
}
.bordt{
    border-top:2px solid #ec407a;
}

/* INPUT */
.form-control{
    background:#f8bbd0;
    border:2px solid #ec407a;
    color:white;
}
.form-control:focus{
    background:#f8bbd0;
    border:2px solid #ec407a;
    box-shadow:none;
    color:white;
}

/* BUTTONS */
.btn-pink{
    background:#ec407a;
    color:white;
    border:none;
}
.btn-pink:hover{
    background:#d81b60;
}

/* POSTS GAP */
.posts{
    display:flex;
    flex-direction:column;
    gap:15px;
}

/* EDIT DELETE BUTTON POSITION */
.post-actions{
    display:flex;
    justify-content:flex-end;
    gap:15px;
    padding:10px;
}